body,
canvas {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */   
}

@font-face {
  font-family: 'Cocon-Bold';
  src: url('../assets/fonts/Cocon-Bold.eot');
  src: url('../assets/fonts/Cocon-Bold.woff2') format('woff2'),
       url('../assets/fonts/Cocon-Bold.woff') format('woff'),
       url('../assets/fonts/Cocon-Bold.ttf') format('truetype'),
       url('../assets/fonts/Cocon-Bold.svg#Cocon-Bold') format('svg'),
       url('../assets/fonts/Cocon-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

